@model IEnumerable<BookRepository.Models.BookModel>

@{
    ViewData["Title"] = "BookList";
}

<h1>List of all books</h1>

<p>
    <a asp-action="Add">Add new book</a>
</p>
<form asp-action="BookList" method="get" class="input-group mb-2">
    <select class="form-select" name="currentFilter" aria-label="Default select example">
        <option value="" selected>All</option>
        <option value="Unspecified">Unspecified</option>
        <option value="Fiction">Fiction</option>
        <option value="Nonfiction">Nonfiction</option>
        <option value="Drama">Drama</option>
        <option value="Poetry">Poetry</option>
        <option value="Folktale">Folktale</option>
    </select>
    <input type="submit" value="Search" class="btn btn-success" />
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="BookList" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                <a asp-action="BookList" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Remove" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
