@model BookRepository.Models.BookModel

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove the book</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRead)
        </dd>
    </dl>
</div>
<form asp-action="RemoveConfirm" asp-route-id="@Model?.Id" class="mb-2">
    <button class="btn btn-danger">Remove</button>
</form>
<div>
    <a asp-action="BookList">Back to List</a>
</div>